1. import libs

In [1]:
import pandas as pd

2. import dataset

In [2]:
path = '../data_sets/day7/chipotle.tsv'

3. read data from dataset

In [3]:
chip = pd.read_csv(path, sep = '\t')

4. read first 10 columns

In [4]:
chip.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. how many columns?

In [5]:
chip.shape[1]

5

6. print all columns name

In [6]:
chip.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')


7. show the index

In [7]:
chip.index

RangeIndex(start=0, stop=4622, step=1)

8. which ordered most?

In [9]:
s = chip[['item_name', 'quantity']].groupby(['item_name'], as_index=False).agg({'quantity': sum})
s.sort_values(['quantity'], ascending=False, inplace=True)
s.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

9. how many goods ordered in the item_name column

In [10]:
chip['item_name'].nunique()

50

10. max ordered count in choice_description column

In [11]:
chip['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

11. total ordered goods

In [13]:
chip['quantity'].sum()

4972

12. cast item_price to float number

In [14]:
price2float = lambda x: float(x[1:-1])
chip['item_price'] = chip['item_price'].apply(price2float)

13. total revenue

In [15]:
chip['total'] = round(chip['quantity'] * chip['item_price'], 2)
chip['total'].sum()

39237.02

14. total orders counts

In [16]:
chip['order_id'].nunique()

1834

15. avg price among all orders

In [17]:
chip[['order_id', 'total']].groupby(['order_id']).agg({'total': sum})['total'].mean()

21.39423118865867

16. How many kind of good sold out?

In [18]:
chip['item_name'].nunique()

50